/.idea/
/code-coverage/
/dist/
/node_modules/
/demo/node_modules/
/demo/typings/
/demo/**/*.js
/demo/**/*.js.map
/demo/**/*.d.ts
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/typings/
*.iml
*.ipr
index.js
index.js.map
index.d.ts
npm-debug.log