#gridContainer.core-default #titleBar {
  padding: 10px;
  font-weight: 500;
  font-size: x-large;
  border-bottom: black 2px solid;
}

#gridContainer.core-default #headerContent {
  font-weight: bold;
  border-bottom: black 1px solid;
}

#gridContainer.core-default .hci-grid-header:nth-child(odd) {
  background-color: #3d7a99;
}

#gridContainer.core-default .hci-grid-header:nth-child(even) {
  background-color: #005480;
}

#gridContainer.core-default .hci-grid-row {
  width: 100%;
  height: 45px;
}

#gridContainer.core-default .hci-grid-row .hci-grid-cell:nth-child(odd){
  background-color: #ffffff;
}

#gridContainer.core-default .hci-grid-row .hci-grid-cell:nth-child(even){
  background-color: #e6f0f5;
}

#gridContainer.core-default .hci-grid-row.odd .hci-grid-cell:nth-child(odd){
  background-color: #e6f0f5;
}

#gridContainer.core-default .hci-grid-row.odd .hci-grid-cell:nth-child(even) {
   background-color: #d1e2eb;
}

#gridContainer.core-default .hci-grid-cell {
  display: flex;
  align-items: center;
}

#gridContainer.core-default .hci-grid-cell.selected.top.left {
  border-top-left-radius: 10px;
}

#gridContainer.core-default .hci-grid-cell.selected.top.right {
  border-top-right-radius: 10px;
}

#gridContainer.core-default .hci-grid-cell.selected.bottom.left {
  border-bottom-left-radius: 10px;
}

#gridContainer.core-default .hci-grid-cell.selected.bottom.right {
  border-bottom-right-radius: 10px;
}

#gridContainer.core-default .hci-grid-cell.selected.left {
  border-left: #ffee00 2px solid;
}

#gridContainer.core-default .hci-grid-cell.selected.right {
  border-right: #ffee00 2px solid;
}

#gridContainer.core-default .hci-grid-cell.selected.top {
  border-top: #ffee00 2px solid;
}

#gridContainer.core-default .hci-grid-cell.selected.bottom {
  border-bottom: #ffee00 2px solid;
}

#gridContainer.core-default .hci-grid-row.selected .hci-grid-cell:nth-child(even) {
  background-color: #61f0f2;
}

#gridContainer.core-default .hci-grid-row.selected .hci-grid-cell:nth-child(odd) {
  background-color: #66ffff;
}

#gridContainer.core-default .hci-grid-row.odd.selected .hci-grid-cell:nth-child(even) {
  background-color: #68e1eb;
}

#gridContainer.core-default .hci-grid-row.odd.selected .hci-grid-cell:nth-child(odd) {
  background-color: #61f0f2;
}


#gridContainer.core-default #gridFooter {
  background-color: rgba(112, 152, 173, 0.4);
}
