
#grid-container.excel #titleBar {
  padding: 10px;
  font-weight: bold;
  font-size: large;
  border-left: black 1px solid;
  border-right: black 1px solid;
  border-top: black 1px solid;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#grid-container.excel #headerContent {
  font-weight: bold;
}

#grid-container.excel #mainContent {
  border-left: black 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;
}

#grid-container.excel #gridFooter {
  border: black 1px solid;
}

#grid-container.excel #leftView {
  border-top: black 1px solid;
}

#grid-container.excel #rightView {
  border-top: black 1px solid;
}

#grid-container.excel #leftHeaderView{
  border-top: black 1px solid;
}

#grid-container.excel #rightHeaderView{
  border-top: black 1px solid;
}

#grid-container.excel .hci-grid-header {
  border-bottom: none;
}

#grid-container.excel .hci-grid-header:not(.last) {
  border-right: black 1px solid;
}

#grid-container.excel .hci-grid-cell {
  border-bottom: black 1px solid;
}

#grid-container.excel .hci-grid-cell:not(.last) {
  border-right: black 1px solid;
}

#grid-container.excel .hci-grid-cell.selected {
  background-color: #ffffaa;
}

#grid-container.excel .hci-grid-row.selected {
  background-color: #ffffaa;
}
