
#grid-container.spreadsheet .title-bar {
  padding: 10px;
  font-weight: bold;
  font-size: large;
  border-left: black 1px solid;
  border-right: black 1px solid;
  border-top: black 1px solid;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#grid-container.spreadsheet #header-content {
  font-weight: bold;
  border-bottom: black 1px solid;
}

#grid-container.spreadsheet #main-content {
  border-left: black 1px solid;
  border-bottom: black 1px solid;
}

#grid-container.spreadsheet .grid-footer {
  border: black 1px solid;
}

#grid-container.spreadsheet #left-view {}

#grid-container.spreadsheet #right-view {
  border-right: black 1px solid;
}

#grid-container.spreadsheet #left-header-view{
  border-top: black 1px solid;
}

#grid-container.spreadsheet #right-header-view{
  border-top: black 1px solid;
  border-right: black 1px solid;
}

#grid-container.spreadsheet .hci-grid-header {
  border-bottom: none;
}

#grid-container.spreadsheet .hci-grid-header:not(.last) {
  border-right: black 1px solid;
}

#grid-container.spreadsheet .hci-grid-row.even {
  background-color: #f5f5f5;
}

#grid-container.spreadsheet .hci-grid-cell {
  border-bottom: black 1px solid;
}

#grid-container.spreadsheet .hci-grid-cell:not(.last) {
  border-right: black 1px solid;
}

#grid-container.spreadsheet .hci-grid-cell.selected {
  background-color: #ffffaa;
}

#grid-container.spreadsheet .hci-grid-row.selected {
  background-color: #ffffaa;
}

#grid-container.spreadsheet .ng-invalid {
  color: red;
}

#grid-container.spreadsheet .new-row {
  border: green 1px solid;
  box-shadow: black 0px 4px 16px;
}

.hci-grid.spreadsheet.column-header-tooltip {
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

.hci-grid-header.spreadsheet.drag-n-drop {
  background-color: white;
  color: black;
  border: black 1px solid;
}

#grid-container.spreadsheet .btn-save {
  background-color: lightgreen;
  border-color: green;
  color: black;
}

#grid-container.spreadsheet .btn-cancel {
  background-color: lightcoral;
  border-color: red;
  color: black;
}

#grid-container.spreadsheet .hci-grid-cell.ng-invalid {
  background-color: rgba(255, 0, 0, 0.1);
}

#grid-container.spreadsheet .new-row-message {
  color: rgb(255, 50, 50);
  font-size: 1.25rem;
  width: max-content;
  align-items: center;
}

#grid-container.spreadsheet .sort-icon {
  color: black;
}

#grid-container.spreadsheet .sort-icon.primary {
  color: green;
}
