
body {
  overflow-x: hidden;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  height: 100vh;
}

demo {
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 3rem;
  flex-shrink: 0;
}

.outlet {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.card {
  margin-top: 15px;
}

.card-body {
  flex-direction: column;
  flex: 0 0 100%;
}

div .card-text {
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

#grid-container.big {
  font-family: Arial;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}

#grid-container.big .hci-grid-row.even {
  color: gray;
}

ngb-popover-window {
  max-width: 800px !important;
  width: 800px;
}

ngb-popover-window div.popover-body {
  max-height: 350px;
  overflow-y: auto;
}
