
.navbar .container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

.container-fluid {
  margin-bottom: 40px;
}

.card {
  margin-top: 15px;
}
