
demo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.demo-component {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.outlet-column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.outlet-row {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.y-auto {
  overflow-y: auto;
}

.navbar {
  height: 3rem;
  flex-shrink: 0;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.navbar .btn-outline-primary.white {
  color: white;
  border-color: white;
}

.outlet {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.m-3.docs {
  margin: 0 !important;
}

.iframe {
  flex-grow: 1;
}

.card {
  margin-top: 15px;
  flex-shrink: 0;
}

.card-header {
  padding: 0.25rem 1.25rem;
}

.card-body {
  flex-direction: column;
  flex: 0 0 100%;
}

div .card-text {
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

#grid-container.big {
  font-family: Arial;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}

#grid-container.big .hci-grid-row.even {
  color: gray;
}

.code-heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.mat-menu-panel.config {
  max-width: none;
}

pre.language-html {
  background-color: #eeeeee;
  border: gray 1px solid;
}

pre[class*="language-"] {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}
