
.grid-cell-template {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 8px;
}
.grid-cell-template.selected {
    background-color: #ffff99;
}
.grid-cell-template.focused {
    background-color: #ccddff;
}
.label-cell {
    background-color: red;
    height: 100%;
    padding-top: 3px;
}
